<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Tinkerlust_TinkerApi>
			<version>0.1.0</version>
		</Tinkerlust_TinkerApi>
	</modules>
	<global>
		<models>
			<tinkerapi>
				<class>Tinkerlust_TinkerApi_Model</class>
				<resourceModel>tinkerapi_resource</resourceModel>
			</tinkerapi>
			<tinkerapi_resource>
				<class>Tinkerlust_TinkerApi_Model_Resource</class>
				<entities>
					<client>
						<table>tinkerlust_oauth2_clients</table>
					</client>
					<token>
						<table>tinkerlust_oauth2_accesstokens</table>
					</token>
					<refresh>
						<table>tinkerlust_oauth2_refreshtokens</table>
					</refresh>
				</entities>
			</tinkerapi_resource>
		</models>
		<resources>
			<oauth2_setup>
				<setup>
					<module>Tinkerlust_TinkerApi</module>
					<class>Tinkerlust_TinkerApi_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</oauth2_setup>
			<oauth2_write>
				<connection>
					<use>core_write</use>
				</connection>
			</oauth2_write>
			<oauth2_read>
				<connection>
					<use>core_read</use>
				</connection>
			</oauth2_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<TinkerApi>
				<use>standard</use>
				<args>
					<module>Tinkerlust_TinkerApi</module>
					<frontName>tinkerapi</frontName>
				</args>
			</TinkerApi>
		</routers>
	</frontend>
</config>